
    <title>Zapatos</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

{% extends "base.html" %} 

{% block contenido %}
<h1>Zapatos</h1>
<p>
    <a href={%url "crear_zapatos"%}>Crear Zapatos</a>
</p>

{% if zapatos %}
<table>
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Talla</th>
            <th>Color</th>
            <th>Más</th>
        </tr>
    </thead>
    <tbody>
        {% for zapato in zapatos %}
        <tr>
            <td>{{ zapato.marca }} </td> 
            <td>{{ zapato.modelo}}</td>
            <td>{{ zapato.talla }}</td>
            <td>{{ zapato.color }} </td>
            <td>{{zapato.mas}}
                | <a href={%url "detalles_zapatos" zapato.id%}>Ver mas</a>
                | <a href={%url "modificar_zapatos" zapato.id%}>Modificar</a>
                | <a href={%url "eliminar_zapatos" zapato.id%}>Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay zapatos creados</p>
{% endif %}

{%endblock contenido%}
    

</body>
</html>